body{
    margin: 0;
    padding: 0;
}
.container{
    width: 50%;
    background-color: rgb(red, green, blue);
    margin: auto;
}
.icon-area ul{
    list-style: none;;
}
.icon-area ul li{
    display: inline-block;
    margin-top: 5px;
}
.icon-area ul li a{
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
.icon-area ul li a:hover{
    background-color: teal;
    color:  red;
}
    
.Square{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin-top: 60px;
}
.rectangle{
    width: 400px;
    height: 200px;
    background-color: chartreuse;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
}
.oval {
    width: 150px;
    height: 300px;
    border-radius: 75px/150px;
    background-color: burlywood;
}
.triangle{
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    height: 0px;
    width: 0px;
    border-bottom: 400px solid red;

}
.lower_triangular{
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    height: 0px;
    width: 0px;
    border-top: 400px solid red;

}
.left_triangular{
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    height: 0px;
    width: 0px;
    border-right: 400px solid red; 
}
.right_triangular{
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    height: 0px;
    width: 0px;
    border-left: 400px solid red;
}